@font-face {
  font-family: helve;
  src: url(./fonts/HelveticaNowText-Regular.woff2);
  font-display: fallback;
}

::-webkit-scrollbar {
  width: 0px;
}

::-webkit-scrollbar-track {
  background-color: transparent; 
}

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: helve;
  overflow-x: hidden;
}